#nav{

    grid-area: nav;

    background-color: tan;

    display: block;

}

 

#innergridnav{

    display:block;

    display: grid;

    grid-area: innergridnav;

    background-color: tan;

    text-align: center;

    font-weight: 500;

    grid-template-areas: "home aboutme Images contacts";

    padding-bottom: 5px;

         padding-top: 5px;

     padding-left: 5px;

     padding-right: 5px;

     grid-row-gap: 5px;

    font-size: 2.4em;

    font-weight: normal;

    border: 2px solid Tan;}

#wrapper {

    font-family:fantasy;

    margin: 0;

    text-align: center;

    display:grid;
    background-color: beige

    grid-template-areas:
    

        "innergridnav innergridnav innergridnav"

                                     "nav nav nav"

}